
@{
    ViewBag.Title = "Book";
}

<h2>Welcome Book Page</h2>
<table class="table">
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book1</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book2</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book3</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book4</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book5</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book6</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book7</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book8</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book9</td>
    </tr>
    <tr>
        <td>Book Name</td>
        <td>@ViewBag.Book10</td>
    </tr>
   
</table>

